BOT_TOKEN=change_me
ALLOWED_CHAT_IDS=
REMNAWAVE_BASE_URL=https://vpn2.sharpmaind.ru
REMNAWAVE_API_TOKEN=
REMNAWAVE_NODE_UUID=
REMNAWAVE_PLUGIN_UUID=
REMNAWAVE_PROFILE_UUID=
REMNAWAVE_BLOCK_DURATION=3600
